{% extends 'core/index.html' %}

{% block content %}
  <!-- Page Content -->
  <div class="container" style="background: linear-gradient(225deg, rgba(199, 230, 255, .5), rgba(206, 230, 252, .5), #fde9e380 48%, rgba(215, 254, 255, .5)); border-radius: 5px;">

    <div class="row" >

      <div class="col-lg-3">

        <h5 class="my-4" style="text-align: center;">Selecione uma categoria</h5>
        <div class="list-group" id="categoryList">
          {% for category in categories %}
            <a href="#" class="list-group-item list-group-item-action" id="{{category.name}}">{{category.name}}</a>
          {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <header style="padding-bottom: 10px;">
          <div class="text-center" style="background: linear-gradient(to right, rebeccapurple, blueviolet); border-radius: 5px; margin-top: 20px;">
            <img src="/media/img/logo.png" alt="Anarti!" style="max-width: 900px; max-height: 347px;">
          </div>
        </header>
        {% comment %} <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for product in products %}
              {% if forloop.first %}
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="{{product.name}}" style="max-width: 900px; max-height: 350px;">
              </div>
              {% else %}
              <div class="carousel-item">
                <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="{{product.name}}" style="max-width: 900px; max-height: 350px;">
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> {% endcomment %}

        <div class="row" id="productsArea" style="min-height: 400px;">
          {% for product in products %}
              <div class="col-lg-4 col-md-6 mb-4" data-category="{{product.category}}">
                  <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="{{product.picture_url}}" alt="" style="max-width: 253px; max-height: 190px;"></a>
                      <div class="card-body">
                          <h4 class="card-title">
                              <a href="#">{{product.name}}</a>
                          </h4>
                          {% if product.price %}
                              <h5>R$ {{product.price}}
                                {% if product.quantity > 0 %}
                                  <span class="badge badge-pill badge-info">{{product.quantity}}</span>
                                {% else %}
                                  <span class="badge badge-pill badge-secondary">Sob demanda</span>
                                {% endif %}
                              </h5>
                          {% else %}
                              <h5>Sem Preço</h5>
                          {% endif %}
                          {% if product.description %}
                              <p class="card-text">{{product.description}}</p>
                          {% endif %}
                      </div>
                      <div class="card-footer">
                        {% load core_extras %}
                        <div class="d-inline float-left border-bottom" style="padding-bottom: 10px">
                          <a href="https://api.whatsapp.com/send?phone=+5581988333666&text=Olá Ana! Eu estava vendo o seu site e gostaria de encomendar o produto {{product.name}}". target="_blank" type="button" class="btn btn-sm btn-outline-primary" style="color: #3e6794;">Encomende</a>
                          <button onclick="showEvaluationModal({{product.pk}},'{{product.name}}')" type="button" class="btn btn-sm btn-outline-primary evaluation-button" data-rated="alreadyRated_{{product.pk}}">Avalie</button>
                        </div>
                        <div class="d-inline float-left" style="margin-left: 2px;">
                          <small class="text-muted">{{ evaluations|get_evaluation_average:product.pk }}</small>
                        </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
      <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <div class="modal fade" id="evaluationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="evaluationModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
          {% csrf_token %}
            <div class="form-group">
              <label for="evaluatorName" class="col-form-label">Nome</label>
              <input type="text" class="form-control" id="evaluatorName" placeholder="Digite o seu nome..." required>
            </div>
            <div class="form-group">
              <label for="evaluatorEmail" class="col-form-label">Email</label>
              <input type="email" class="form-control" id="evaluatorEmail" aria-describedby="emailHelp" placeholder="Digite o seu email...">
              <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos o seu email com ninguém.</small>
            </div>
            <div class="form-group">
              <label for="evaluatorComment" class="col-form-label">Comentário</label>
              <textarea class="form-control" id="evaluatorComment" placeholder="Faça o seu comentário a respeito do produto..." required></textarea>
            </div>
            <label class="col-form-label">Avaliação</label>
            <div class="form-group">
              <fieldset class="rating" id="evaluatorEvaluation">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excelente!"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Muito bom"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Normal"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Ruim"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Péssimo"></label>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div id="evaluationModalAlert" class="mr-auto">
          </div>
          <button type="button" id="submit_evaluation" class="btn btn-primary" data-product-id="0">Salvar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}