{% extends 'core/index.html' %}

{% block content %}
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-whatsapp m-auto" style="color: rebeccapurple;"></i>
              <i class="fa fa-instagram m-auto" style="color: rebeccapurple;"></i>
            </div>
            <h3>Encomende</h3>
            <p class="lead mb-0">Entre em contato e faça o seu pedido pelo Instagram ou pelo WhatsApp.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-sign-language m-auto" style="color: rebeccapurple;"></i>
            </div>
            <h3>Mãos à obra</h3>
            <p class="lead mb-0">Começarei a fazer o seu pedido com muito carinho e amor.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-handshake-o m-auto" style="color: rebeccapurple;"></i>
            </div>
            <h3>Entrega</h3>
            <p class="lead mb-0">Com o pedido pronto, combinaremos o melhor local para entregá-lo em suas mãos.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3col-sm-12 col-xs-12">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-heart-o m-auto" style="color: rebeccapurple;"></i>
            </div>
            <h3>Satisfação</h3>
            <p class="lead mb-0">Desejo que você goste do resultado e volte sempre!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}